---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [leader, drive]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        <b>世界一级方程式大奖赛</b>简称“f1”<b>始于1950年英国，由国际汽联举办的最高等级的年度系列场地赛车比赛，是当今世界最高水平的赛车比赛，与奥运会、世界杯足球赛并称为“世界三大体育盛事</b>。 
    </p>
    <p>
    The <b>formula 1 grand prix</b> Started in 1950 in the United Kingdom, the highest level of the annual series of field car racing organised by the FIA, is the world's highest level of motor racing, with the Olympic Games and the World Cup of Soccer known as ‘the world's three major sporting events’. <b> 
    </p>
</div>

<script
	type="module"
	src="https://www.formula1.com/4.41.0/gradio.js"
></script>

<gradio-app src="https://www.formula1.com" theme_mode="light"></gradio-app>




<section>
    <h2>论坛forum</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>


<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
